section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

section img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#text {
    position: relative;
    color: #FFFFFF;
    font-size: 150px;
    z-index: 1;
}

#foliage {
    z-index: 2;
    opacity: 90%;
}